body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

.name {
    font-size: 3.3rem;
    font-weight: 400;
}

.role {
    font-weight: 700;
    margin-left: 0.3rem;
}

main {
    margin: 2rem;
}

.myGmail {
    text-decoration: none;
    color: blue;
    margin-left: 0.3rem;
}

.portfolio-mail {
    margin-top: 1.3rem;
    display: flex;
    gap: 5%;
}

.top-row {
    display: flex;
}

.sec-job, .first-job {
    margin-top: 1.5rem;
}

.my-experiences,
.my-education,
.my-projects,
.my-skills,
.my-summary {
    font-size: 1.8rem;
    font-weight: 500;
}

.About_me,
.education,
.projects,
.skills,
.summary {
    margin-top: 2rem;
}

.experience a {
    color: blue;
    text-decoration: none;
}

.my-education,
.my-summary {
    margin-bottom: 1rem;
}


h5 {
    font-size: 1rem;
    font-weight: 700;
}

.projects h5 {
    margin-top: 2rem;
    margin-left: 0;
}

h6 {
    font-size: 0.8rem;
}

p, span, .pmatt a {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
}

span a {
    text-decoration: none;
}

.skills-experience-container,
.education-summary-container {
    display: flex;
    flex-wrap: row wrap;
    gap: 25rem;
    /* align-items: center; */
}

.education-summary-container {
    gap: 27rem;
}